<html ng-app="social">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="node_modules/ng-tags-input/build/ng-tags-input.css"></script>
    <!--ink rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"></script-->
    <link rel="stylesheet" href="app/css/main.css"></script>
    <link rel="stylesheet" href="app/css/upload.css"></script>
    <link rel="stylesheet" href="app/css/maincustomstyles.css"></script>
    <link rel="stylesheet" href="node_modules/ng-img-crop/compile/unminified/ng-img-crop.css"></script>

</head>

<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavigationController">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" ui-sref="main">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ui-sref="follow"><i class="fa fa-users"></i>People <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Thoughts</a></li>
      </ul>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><span class="fa fa-search">
              <!--button type="submit" class="btn btn-default"-->
                <span class="glyphicon glyphicon-search" aria-hidden="true" ng-click="search()"></span>
              <!--/button-->
            </span></span>
            <input id="searchBox" type="text" class="form-control input-large" placeholder="Search" ng-model="searchTerm" ng-change="search()" ng-focus="redirect()">
          </div>
        </div>
      </form>

      <!--form class="navbar-form navbar-left" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </span>
        </div>
      </form-->

      <form class="navbar-form navbar-right" role="login" ng-hide="loggedIn">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email" ng-model="login.email">
          <input type="password" class="form-control" placeholder="Password" ng-model="login.password">
        </div>
        <button ng-click="logUserIn()" type="submit" class="btn btn-default">Login</button>
        <button ui-sref="signUp" class="btn btn-default">Create Account</button>
      </form>

      <ul class="nav navbar-nav navbar-right" ng-show="loggedIn">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Welcome, {{user.username}} ({{user.email}}) <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a ui-sref="editProfile">Edit Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="logOut()" ng-show="loggedIn">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<body>

  <div ui-view></div>
</body>
    <script src="app/jquery.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="app/angular-ui-router.js"></script>
    <script src="app/app.js"></script>
    <script src="app/fromNow/fromNow.filter.js"></script>


    <!-- controllers -->
    <script src="app/signup/signup.controller.js"></script>
    <script src="app/navigation/navigation-controller.js"></script>
    <script src="app/profile/edit-profile-controller.js"></script>
    <script src="app/main/main-controller.js"></script>
    <script src="app/follow/follow-controller.js"></script>
    <script src="app/search/search-controller.js"></script>

    <!-- services -->
    <script src="app/components/auth/auth-service.js"></script>
    <script src="app/components/auth/user-service.js"></script>


    <!-- libraries -->
    <script src="node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
    <script src="node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script>
    <script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/moment/moment.js"></script>
    <script src="node_modules/ng-tags-input/build/ng-tags-input.js"></script>
    <script src="node_modules/ng-img-crop/compile/unminified/ng-img-crop.js"></script>
    <script src="node_modules/angular-resource/angular-resource.js"></script>
    <script src="node_modules/angular-cookies/angular-cookies.js"></script>
    <script src="node_modules/angular-storage/dist/angular-storage.js"></script>
    <script src="node_modules/angular-jwt/dist/angular-jwt.js"></script>




</html>
