<div class="row">
  <div class = "col-sm-6 col-sm-offset-3 loginheader">
    <h2>Create Your Account</h2>
    <br>
  </div>

  <div class = "col-sm-6 col-sm-offset-3 login">

    <strong>Email Address: </strong>
    <input type="text" ng-model="newUser.email" class="form-control">

    <br>

    <strong>Password</strong>
    <input type="password" ng-model="newUser.password" class="form-control">

    <br>
    <div class="row">
      <button class="btn btn-default" ng-click="createUser()">Submit</button>
    </div>
  </div>
</div>

<div class="row">
  <p>&nbsp</p>
  <div class = "col-sm-6 col-sm-offset-3 login">
    If you already have an account,
    <button class="btn btn-default" ui-sref="login">Login here</button>
  </div>
</div>
